/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(26, 128, 116);
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3{
    color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

p{
    color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: smaller;
}

    
.myWeek1{
    margin: 20mm;
    max-width: 600px;
    background-color: rgb(20, 95, 86);
    border-radius: 25px;
}


/* Set the apperance of the class, chart */
/* .chart{
    background-color: rgb(0, 0, 0);
    width: 369px;
    height: 267px;
    border-width: 0px;
    border-left: 80px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);

    
} */
#Chart1{
    background-color: rgb(0, 0, 0);
    margin: 0px 0px 0px 70px;
    /*    top right bottom left */
    border-width: 0px;
    
}
    