/* CSS files can can also be used to access e.g. fonts */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');

@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';


h1 {
    background-color: rgb(20, 95, 86);
    color: rgb(172, 241, 233);
	font-size: 80px;
	margin-top: 30px;
	margin-bottom: 0px;	
	text-align: center;
	font-weight: bold;
	font-family: 'Poppins', sans-serif ;
    border-style: groove;
    border-color: rgb(178, 251, 251);
    border-radius: 25px;
    border-width: 8px;
}


h2 {
	color: #ffffff;
	font-size: 30px;
    font-weight: 500;
	margin-top: 10px;
	margin-bottom: 10px;	
	text-align: center;
	font-family: 'Poppins', sans-serif ;
}

h3{ /*Used in portfolio only */
	color: rgb(48, 213, 200);
	font-size: 20px;
    font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;	
	text-align: center;
	font-family: 'Poppins', sans-serif ;
    font-style: italic;
}


 h4{
    color:#ffffff;
    font-family: 'Poppins', sans-serif ;
    font-size: 25px;
    text-align: center;
 }

 h5{
  color:#ffffff;
  font-family: 'Poppins', sans-serif ;
  font-size: 20px;
  line-height: 0; 
  text-align: center;
  font-style: italic;
}

h6{ /*Used as a to-do tasks font as it contrasts a lot and so I'm reminded of what's next*/
    color: rgb(102, 255, 0);
	font-size: 20px;
    font-weight: bolder;
	margin-top: 10px;
	margin-bottom: 10px;	
	text-align: center;
	font-family: 'Poppins', sans-serif ;
    font-style: italic;
}

body{
    background-color: rgb(26, 128, 116);
    max-width: 90%;
    margin: auto;
 }
 
 
 ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #569ac2;
  }
  ::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border-radius: 25px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #569ac2;
  }
 

 .separator1 {
    
    align-content: center;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    position: relative;
    left: 0px;
    width: 100%;
    text-align: justify;
    border: 3px solid rgb(20, 95, 86);
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    right: 0px;
    margin-top: 0px;

}
 
 .separator2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px 30px;
    margin-top: 30px;
    border-style: dashed;
    border-color:rgb(48, 213, 200);
    border-width: 3px;
    padding: 30px;
    border-radius: 0px;
    align-items: center;
  }

 .navbuttons {
	display:flex;
	justify-content:center;
	margin-bottom: 10px;
	margin-top: 10px;
  width: 100%;
 }
 

.button{
	align-content: center;
	flex-flow: center;
	border-radius: 50px;
    color: antiquewhite;
    background-color: rgb(20, 95, 86);
	border: 4px solid #ffffff;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 240px;
	cursor: pointer;
	margin: 5px;
	transition: color 1s;
	font-family: 'Poppins', sans-serif ;
  }


.button2{
  align-content: center;
  flex-flow: center;
  border-radius: 4px;
  background-color: rgb(48, 213, 200);
  border: 2px outset #ffffff;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 0px;
  width: 25%;
  cursor: pointer;
  margin: 5px;
  transition: color 1s;
  font-family: 'Poppins', sans-serif;
  font-weight:lighter;
  }



.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;

  }
  
.button span:after {
	content: '\27B2';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.1s;

  }

  
.button:hover span {
	padding-right: 25px;
  }
  
  .button:hover span:after {
	opacity: 1;
	right: 0;
  }

  .text_type1{
    color: #e5f3fd;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    font-weight: normal;
    font-family: 'Poppins', sans-serif ;
    margin-bottom: 10px;
    clear: left;
    width: 100%;
  }

  .dashboard{
    align-items: center;
    width: 280px;
    height: 250px;
    margin-left: 30px;
    margin-bottom: 30px;
}